.artistPageContainer {
  display: grid;
  grid-template-columns: 1fr 2fr; 
  grid-template-areas:
    "image header"
    "image bio"
    "image music"; /* Adjust grid layout for music */
  gap: 2rem; 
  padding: 2rem; 
  max-width: 1200px;
  margin: 0 auto; /* Center the container horizontally */
  background-color: #fff; 
  border-radius: 1rem; /* Add rounded corners to the container itself */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}



.artistImage {
  grid-area: image;
  width: auto; /* Take full width of the grid area */
  max-height:500px !important;
  aspect-ratio: 4 / 3; /* Maintain a 4:3 aspect ratio */
  border-radius: 1rem; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
  overflow: hidden; /* Hide any overflow if the image doesn't fit perfectly */
  object-fit: cover; /* Ensures the image covers the entire area */
}


.rapperCard::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover; 
  background-position: center;
  background-repeat:   
 no-repeat; 
  z-index: 1;
  transition: transform 0.3s ease-in-out;
}

.artistBio {
  grid-area: bio;
  background-color: #f5f5f5; /* Slightly lighter background */
  padding: 1.5rem; /* Adjust padding */
  border-radius: 0.5rem; /* Smaller border radius */
  font-size: 1.1em; 
  line-height: 1.6; 
  color: #444; 
}

.musicSection {
  grid-area: music;
  padding: 1.5rem; /* Adjust padding */
  background-color: #f0f0f0;
  border-radius: 0.5rem; /* Smaller border radius */
  display: flex;
  flex-direction: column;
}

.musicLinks a {
  display: flex; /* Use flexbox for better alignment */
  align-items: center; /* Vertically center icon and text */
  margin-bottom: 1rem; /* Increase spacing between links */
  text-decoration: none;
  color: #007bff; /* Use a standard blue link color */
  font-weight: 500; /* Slightly less bold */
  transition: color 0.3s ease; /* Add color transition on hover */
}

.musicLinks a:hover {
  color: #0056b3; /* Darker blue on hover */
}

.musicLinks a svg { /* Style the icon */
  margin-right: 0.5rem; /* Add space between icon and text */
  width: 1.2em; /* Adjust icon size as needed */
  height: 1.2em;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .artistPageContainer {
    grid-template-columns: 1fr; 
    grid-template-areas:
      "header"
      "image"
      "bio"
      "music";
  }

  .artistHeader {
    align-self: center; 
    padding-top: 1rem; 
  }

  .artistImage {
    max-width: 100%; 
    margin: 1rem auto; /* Add margin top and bottom for spacing */
  }
}
