:root {
  /* Define color variables */
  --primary-background: #282c34; /* Dark background color */
  --text-color: #4B2C91; /* Dark purple for text */
  --link-color: #CAB8FF; /* Primary color for links */
  --event-title-color: #5E4B8C; /* Muted purple for event and post titles */
  --off-white: #F5F5F5; /* Off-white color for better contrast */
  --dark-background: #3B2A5D; /* Dark background for featured artists */
  --title-color: #4B2C91; /* Dark purple for titles */
  --secondary-text-color: #7D6A9A; /* Lighter purple for paragraphs */
}

/* General App Styles */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Header Styling */
.App-header {
  background-color: var(--primary-background); /* Use variable */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-color); /* Use variable */
}

/* Link Styling */
.App-link {
  color: var(--link-color); /* Use variable */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
